.icon{
    /* margin: 1rem; */
    margin-left: 4rem;
    padding: 0 2rem;
}
.tilt{
    height: 9rem;
    width: 9rem;
    border: 2px solid rgb(0, 0, 0);
    background: linear-gradient(to left, rgb(15,220,185),rgb(185,75,100));
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}
.tilt img{
    height:86px ;
    width:86px ;
}